.homeMap {
  border: 5px solid white;
  border-radius: 25px;
  height: auto;
  max-width: 85%;
  object-fit: cover;
}

.vendas {
    height: auto;
    max-width: 77%;
    object-fit: cover;
}

.buttonHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .buttonHome:hover {
    background-color: black;
    color: white;
  }
